a {
  color: #FFA400;
}

a:hover {
  color: #5DD0C0;
}

body {
  font-family: helvetica;
}

h1,
h2 {
  font-weight: bold;
}

h1,
h2,
h4 {
  text-decoration: underline;
}

#numbersList {
  font-size: 20px;
}

#rules,
#numbersList {
  list-style: none;
}

#column-wrap {
  overflow: hidden;
}

.acronym {
  font-weight: bolder;
  text-decoration: underline;
  color: #FFA400;
}

.btn {
  background-color: #1B0773;
  color: #FFA400;
}

.btn:hover {
  color: #5DD0C0;
}

.container {
  text-align: center;
}

.jumbotron {
  background-image: url("../img/balls.jpg");
  background-size: cover;
}

.jumbotron h1,
.jumbotron h4,
.jumbotron ul {
  color: #1B0773;
}

.results {
  float: right;
  background-color: #00685A;
  color: #5DD0C0;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.sidebar {
  float: left;
  background-color: #1B0773;
  color: #8370D8;
  margin-bottom: -99999px;
  padding-bottom: 99999px;
}

.sidebar p {
  font-style: italic;
}
